@import './scss/variables';
@import './scss/animation';
@import './scss/mixin';
@import './scss/sidebar-themes';

body {
  font-size: .9rem;
  cursor: default;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;

  .page-content {
    display: inline-block;
    width: 100%;
    transition: padding-left .3s ease;
    overflow-x: hidden;

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      background: #000;
      opacity: .5;
      display: none;


    }
  }

  &.toggled {

    .sidebar-wrapper {
      left: 0px;
    }

    .page-content {
      @media screen and (min-width: 768px) {
        padding-left: $sidebar-width;
      }

      .overlay {

        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
    &.pinned{
      .page-content {

        @media screen and (min-width: 768px) {
          padding-left: $sidebar-pinned-width;
        }
      }
    }

  }

  &.pinned:not(.sidebar-hovered) {

    .sidebar-wrapper {
      width: $sidebar-pinned-width;

      .sidebar-header {
        .user-pic {
          width: 60px;
          padding: 2px;
          overflow: hidden;

          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }

      }

      .sidebar-header .user-info,
      .sidebar-menu .header-menu,
      .sidebar-menu .sidebar-submenu,
      .sidebar-menu ul>li>a>span,
      .sidebar-menu ul>li>a::after,
      .sidebar-footer>div:not(.pinned-footer) {
        display: none!important;
      }

      .sidebar-footer>div.pinned-footer {
        display: block;
      }
    }

  }

  .mCSB_scrollTools {
    width: 6px;
  }

  .mCSB_inside>.mCSB_container {
    margin-right: 0px;
  }

}
/*---- border-radius ------*/
.border-radius-on {

  .sidebar-header .user-pic {
    border-radius: 12px;
  }

  .badge {
    border-radius: 8px;
  }

  .sidebar-menu ul li i {
    border-radius: $border-radius;
  }

  .sidebar-footer .dropdown-menu {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    .notification-content i,
    .message-content .pic {
      border-radius: $border-radius;
    }
  }
}