$sidebar-width:280px;
$sidebar-pinned-width:80px;
$sidebar-footer-height:35px;
$border-radius:4px;
$sidebar-bg-color: #1d1d1d;
$primary-color: #adadad;
$primary-highlight-color: #d8d8d8;
$border-color: #2b2b2b;
$submenu-bg-color: #2b2b2b;
$menu-icon-bg-color: #2b2b2b;
$menu-icon-color: #818896;
$menu-icon-highlight-color: #007BFF;
$menu-header-color: #868686;
$footer-bg-color: #2b2b2b;
$shadow-color: #1d1d1d;
$scrollbar-color: #525965;